html {
    font-family: 'Lucida Sans Unicode', Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #dfdfdf;
}
    body {
        width: 1000px;
        text-align: justify;
        background-color: white;
        padding: 0 0 1em 0;
        border-radius: 10px;
    }
        h1 {
            margin-top: 0;
            text-align: center;
            letter-spacing: 8px;
        }
        
        .textoVerde {
            color: #6bab1a;
        }

        h3, .textoNaranja {
            color: #be843e;
        }

        .cuerpo {
            display: flex;
            justify-content: space-between;
        }
            ul {
                list-style-type: none;
                padding-left: 1em;
                margin-top: 0;
            }
                .selected {
                    background-image: linear-gradient(white 50%, #e5cdb2);
                }

                .selected a {
                    color: black;
                }

                li {
                    margin: 0 0 5px 0;
                    padding: 5px 20px 5px 20px;
                    text-align: center;
                    background-image: linear-gradient(white 50%, #cbe783);
                    border: 1px solid #dfdfdf;
                }
                    li a {
                        text-decoration: none;
                        color: rgb(100, 100, 100);
                    }

                    li a:hover {
                        color: black;
                    }

            .cajaTexto {
                border: 1px solid #dfdfdf;
                padding: 1em 1em 1em 1em;
                margin: 0 1em 10px 1em;
                background-image: linear-gradient(rgb(230, 230, 230), white, white, white, white, white, white, white, rgb(230, 230, 230));
            }
                .underline {
                    border-bottom: 1px solid #dfdfdf;
                }

            .creativeCommons {
                color: gray;
                font-style: italic;
                font-size: small;
                margin-left: 25%;
            }

            .creativeCommons a {
                color: gray;
            }

            .encabezado {
                background-image: url("encabezado.jpg");
                margin-top: 20px;
                margin-left: 5.3%;
                width: 900px;
                height: 200px;
                box-shadow: 0 0 20px 20px white inset;
            }

            p {
                line-height: 120%;
            }

            h1 .textoVerde {
                color: #679510
            }